header,#about{
    background-color: rgb(22, 120, 248);
}

footer{
    background-color: #333132;
    background-image: url(../bsImages/backgrounds/scallopWhite.png);
    background-repeat: repeat-x;

}

#about{
    background-image: url(../bsImages/backgrounds/Abstract-blue_0.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}